.stockCard{
    height: 150px;
    width: 600px;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);
    align-items: center;

    .details{
        position: relative;
        left : 30px;
        width: 100%;
        display: flex;
        flex-direction: column;

        P{
            font-size: 12px;
            .prize{
                background-color: gold;
            }
        }
    }
    .purchase{
        p{
            height: 40px;
            width: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background-color: gold;
            box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);
            cursor: pointer;
        }
        position: relative;
        width: 100%;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.icon{
    padding-left: 20px;
    img{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: black;
        box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);
    }
}

.pad{
    padding-top: 10px;
}

.navbar{
    h1{
        font-size: 40px;
    }
    position: relative;
    padding: 20px;
    height: 150px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(43, 113, 226);
    box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);

    .navLinks{
        position: relative;
        display: flex;
        right: 0px;
        width: 100%;
        justify-content: space-around;
        p{
            padding: 20px;
            font-size: 20px;
        }
        p:hover{
            border-radius: 20px;
            color: black;
            background-color: white;
            cursor: pointer;
        }
    }

}

.homeContainer{
    display: flex;
    position: relative;
    top: -10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.newDivContainer{
    position: relative;
    width: 600px;
    height: 300px;
    z-index: 11;
    background-color: white;
    box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btc{
        display: flex;
        width: 400px;
        align-items: center;
        justify-content: end;
        .b1{
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background-color: gold;
            box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);
            cursor: pointer;
        }

    }
    .purchaseConatiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .linear{
            display: flex;
            flex-direction: row;
            justify-content:center;
        }

        .pay
        {
            width: 70px;
            padding : 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background-color: gold;
            box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);
            cursor: pointer;
        }
    }
    
}